{% extends 'main/layout.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <h1>Homepage</h1>
    <p>What should I put here?</p>
    <div class="sponsors">
        <h5>Our sponsors:</h5>
        <img src="/static/main/img/sponsors/nintendo.png">
        <img src="/static/main/img/sponsors/cocacola.svg">
        <img src="/static/main/img/sponsors/minecraft.png">
        <img src="/static/main/img/sponsors/amazon.png">
        <img src="/static/main/img/sponsors/lebigovych.webp">
        <br>
        <img src="/static/main/img/sponsors/rozetka.png">
        <img src="/static/main/img/sponsors/steam.png">
    </div>
{% endblock %}